<!DOCTYPE html>
<html lang="ja">

<head>
  <title>{{siteTitle}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  <link href="destyle.css" rel="stylesheet" />
  <link href="index.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
</head>

<body class="body">
  <header>
    <div class="header">
      <p><a href="https://github.com/nove-b/feed"> <img src="https://nove-b.github.io/feed/github.png" alt="Github"
            height="30px"></a></p>
    </div>
  </header>
  <div class="site-info">
    <h3 class="hdg">Site Infomation</h3>
    <div class="contents">
      <p>Built on: {{siteBuildTimestamp}}</p>
      <p>Cli version: {{cliVersion}}</p>
      <p>Use: <a href="https://github.com/osmoscraft/osmosfeed">osmosfeed</a></p>
    </div>
  </div>
  <div class="articles">
    {{#each articles}}
    <article class="article">
      <a class="link js-open-overview" href={{link}} target="_blank">
        <h1 class="hdg">{{title}}</h1>
        <div class="info">
          <span> {{source.title}}</span> |
          <span>Date: <time>{{isoPublishDate}}</time></span> |
          <span>Reading time: <time>{{readingTimeInMin}} min</time></span> |
          <span>Word count: <time>{{wordCount}}</time></span>
        </div>
      </a>
      <div class="overview">
        {{#if imageUrl}}
        <img class="img" src="{{imageUrl}}" width="100" />
        {{/if}}
        <p class="description">{{truncate description 200}}</p>
      </div>
    </article>
    {{/each}}
  </div>
  <script>
    // JavaScriptでHandlebarsヘルパーを定義
    Handlebars.registerHelper('truncate', function (str, len) {
      if (str.length > len) {
        return str.substring(0, len) + '...';
      }
      return str;
    });
  </script>
  <script src="index.js"></script>
</body>

</html>