<!DOCTYPE html>
<html lang="ja">

<head>
  <title>{{siteTitle}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  <link href="destyle.css" rel="stylesheet" />
  <link href="index.css" rel="stylesheet" />
</head>

<body class="body">
  <header>
    <div class="header">
      <p><a href="https://github.com/nove-b/feed"> <img src="https://nove-b.github.io/feed/github.png" alt="Github"
            height="30px"></a></p>
    </div>
  </header>
  <div class="site-info">
    <h3 class="hdg">Site Infomation</h3>
    <div class="contents">
      <p>Built on: {{siteBuildTimestamp}}</p>
      <p>Cli version: {{cliVersion}}</p>
      <p>Use: <a href="https://github.com/osmoscraft/osmosfeed">osmosfeed</a></p>
    </div>
  </div>
  <div class="articles">
    {{#each articles}}
    <article class="article">
      <a class="link" href={{link}} target="_blank">
        <h1 class="hdg">{{title}}</h1>
        <div class="info">
          <span> {{source.title}}</span> |
          <span>Date: <time>{{isoPublishDate}}</time></span> |
          <span>Reading time: <time>{{readingTimeInMin}} min</time></span> |
          <span>Word count: <time>{{wordCount}}</time></span>
        </div>
        <div class="overview">
          {{#if imageUrl}}
          <img class="img" src="{{imageUrl}}" width="100" />
          {{/if}}
          <p class="description">{{description}}</p>
        </div>
      </a>
    </article>
    {{/each}}
  </div>
</body>

</html>